root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{.gitconfig,.gitconfig_*}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.reg]
charset = utf-16le
