[user]
	name = Proudust
	email = proudust@gmail.com
[include]
	path = ~/.gitconfig_shared
[core]
	autocrlf = false
	editor = code --wait
	fscache = true
	preloadindex = true
[fetch]
	prune = true
[rebase]
	autostash = true
