<?xml version="1.0" encoding="utf-8" ?>
<packages>
  <!-- Tools -->
  <package id="7zip" />
  <package id="ccleaner" />
  <package id="chocolateygui" />
  <package id="cica" />
  <package
      id="defraggler"
      params="/UseSystemLocale" />
  <package id="gimp" />
  <package id="google-backup-and-sync" />
  <package id="googlechrome" />
  <package id="googlejapaneseinput" />
  <package id="irfanview" />
  <package id="jq" />
  <package id="kindle" />
  <package id="keepass" />
  <package id="keepass-plugin-databasebackup" />
  <package id="keepass-plugin-favicon" />
  <package id="logitechgaming" />
  <package id="vivaldi" />
  <!-- Develop -->
  <package id="git" />
  <package
      id="vscode"
      params="/NoDesktopIcon" />
  <!-- Gameing -->
  <package id="discord" />
  <package id="minecraft" />
  <package id="steam" />
  <package id="origin" />
</packages>
